<div class="custom-form-container">
  <h3>Registro de Datos</h3>
  <form class="custom-form">
    <div class="form-group">
      <label for="nombre">Nombre completo:</label>
      <input type="text" id="nombre" placeholder="Ej. Juan Boj" />
    </div>

    <div class="form-group">
      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" placeholder="ejemplo@correo.com" />
    </div>

    <button type="button" class="btn-primary">Guardar Registro</button>
  </form>
</div>